#container-form{
    border: 0px solid; 
    background-color: #f4f4f4;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;   
}

#logo {
    color: #373737;
    font-size: 100px;
    margin: 0px auto 10px;
}
#logo-text {
    font-size: 20px;
    margin: 0px auto;
}

#form {
    border: 0px solid;
    padding: 20px 40px;
    margin-top: 20px;
    text-align: center;
}

#form > .ant-form-item:nth-child(3){
    border: 0px solid;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-input{
    width: 90%;
    margin-left: 0px;
}

.ant-select-selection--single{
    width: 90%;  
    margin-left: 10px;  
}

.ant-btn-primary{
    width: 90px;
}

@media only screen and (max-width: 600px) {    
    .login-input{
        width: 100%;
        margin-left: 0px;
    }
    
    .ant-select-selection--single{
        width: 100%;    
        margin-left: 0px;  
    }
    
    #logo {
        margin: 70px auto 10px;
    }
}
